---
import { CountriesSection } from '../components/CountriesSection'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Where in the world?" icon={null}>
  <main class="mx-40 my-10">
    <CountriesSection client:visible />
  </main>
</Layout>
