---
import MoonIcon from './MoonIcon.astro'
---

<header
  class="w-full bg-dark-text-light-elements-color dark:bg-dark-elements-color shadow flex items-center justify-between px-8 py-6 lg:px-40"
>
  <a href="/" class="text-sm md:text-xl font-black">Where in the world?</a>
  <button id="btn" class="flex gap-3 items-center">
    <span class="text-sm md:text-md font-bold"></span>
    <MoonIcon />
  </button>
</header>

<script>
  const $html = document.documentElement
  const $btn = document.getElementById('btn')
  const $span = $btn.querySelector('span')
  const btnText = $html.classList.contains('dark') ? 'Dark mode' : 'Light Mode'
  $span.innerHTML = btnText

  if (localStorage.theme === 'light') {
    $html.classList.remove('dark')
    $span.innerHTML = 'Light mode'
  }
  $btn.addEventListener('click', () => {
    if ($html.classList.contains('dark')) {
      $html.classList.remove('dark')
      localStorage.theme = 'light'
      $span.innerHTML = 'Light mode'
    } else {
      $html.classList.add('dark')
      localStorage.theme = 'dark'
      $span.innerHTML = 'Dark mode'
    }
  })
</script>
