---
import MoonIcon from './MoonIcon.astro'
---

<header
  class="w-full bg-dark-text-light-elements-color dark:bg-dark-elements-color shadow flex items-center justify-between px-40 py-6"
>
  <a href="/" class="text-xl">Where in the world?</a>
  <button id="btn" class="flex gap-3 items-center">
    <span class="text-md font-bold">Dark Mode</span>
    <MoonIcon />
  </button>
</header>

<script>
  const $html = document.documentElement
  const $btn = document.getElementById('btn')
  if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
    $html.classList.add('dark')
  }
  $btn.addEventListener('click', () => {
    if ($html.classList.contains('dark')) {
      $html.classList.toggle('dark')
    } else {
      $html.classList.toggle('dark')
    }
  })
</script>
