---
import Header from '../components/Header.astro'
interface Props {
  title: string
  icon: string
}

const { title, icon } = Astro.props
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href={icon ?? '/favicon.svg'} />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body
    class="bg-light-background-color text-light-text-color dark:text-dark-text-light-elements-color dark:bg-dark-background-color"
  >
    <Header />
    <slot />
  </body>
</html>
<style is:global>
  * {
    font-family: 'Nunito Sans', sans-serif;
  }
  h1 {
    font-weight: 800;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 600;
  }
  p,
  a,
  span {
    font-size: 300;
  }
</style>
